.header {
	width: 100%;
	height:95px;
	background: url(./assets/img/rs-logo.png) no-repeat 90%;
	background-size: 250px;
	padding:0;
	margin:0;
	<!-- position: fixed;>
}

.title {
	font-weight: bold;
	font-size: 32px;
	padding-top: 150px;
	padding-left: 35px;
	text-align: left;
}

.nav-list {
	list-style: none;
	position: absolute;
	top: 20px;
	left: 5px;
}

.quote {
	font-size: 16px;
	color: gray;
	background-color: beige;
	display: inline;
	margin-top: 15px;
}

.photo {
	padding-left: 35px;
	height: 300px;
	width: 450px;
}

.heading {
	padding-left: 35px;
}

.line {
	border: none;
	height: 3px; 
	background-color: #000000;
	margin-left: 35px;
}

.contacts-list {
	font-size: 20px;
	line-height: 1.8;
}

.education-list {
	font-size: 20px;
	line-height: 1.8;
}

.skills-list {
	font-size: 20px;
	line-height: 1.8;
}

.main {
	background-color: dimgray;
}
